
<table class="table" >
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">image</th>
      <th scope="col">sizes</th>
      <th scope="col">details</th>
    </tr>
  </thead>
  <tbody>
     {{#each products}}
      <tr>
        <td>{{name}}</td>
        <td>
          <img style="width:50px" src="/img/products/{{image}}" alt="{{name}}">
          {{!-- <img style="width:50px" src="/img/products/{{image}}" alt="{{name}}> --}}
        </td> 

        <td>
          <ul>
            {{!-- {{#each this.sizes}} --}}
              <li>Size S:{{this.sizeS}}</li>
              <li>Size M: {{this.sizeM}}</li>
            {{!-- {{/each}} --}}
          </ul>
        </td>
        <td>{{details}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<a href="/product/addform">Thêm Sản Phẩm mói</a>
<a href="/product/repair">Sửa thông tin sản phẩm</a>