<form action="/reg/create" class="was-validated" method="post">
    <div class="form-group">
        <label for="name">Username:</label>
        <input type="text" class="form-control" id="name" name="name">
        {{#each message.name}}
        <div class="vail-feedback">{{this}}</div>
        {{/each}}
    </div>
    <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="text" class="form-control" id="phone" name="phone">
        {{#each message.phone}}
        <div class="vail-feedback">{{this}}</div>
        {{/each}}
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password">
        {{#each message.password}}
        <div class="vail-feedback">{{this}}</div>
        {{/each}}
    </div>
    {{#if message.errors}}
    <div class="alert alert-danger" role="alert">
        {{#each message.errors}}
        <p>{{this}}</p>
        {{/each}}
    </div>
    {{/if}}
    <span class="d-block">{{message}}</span>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
